# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class


# =========================
# Runtime
# =========================

runtime/


# =========================
# Virtual Environment
# =========================

venv/
.venv/
env/


# =========================
# Environment / Secrets
# =========================

.env
.env.*
!.env.example
*cookies*.txt
*.cookies
secrets/
/etc/secrets/


# =========================
# Django
# =========================

db.sqlite3
db.sqlite3-journal
staticfiles/


# =========================
# IDE
# =========================

.vscode/
.idea/


# =========================
# OS
# =========================

.DS_Store
Thumbs.db


# =========================
# Logs
# =========================

*.log